.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo h1 {
  color: #fff;
  margin-left: 20px;
  font-weight: 700;
}